/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
/* /FONTS */


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(236, 236, 236);
    overflow-x: hidden;
}

nav {
    background: #fff;
    position: fixed;
    width: 100vw;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a {
    padding: 20px;
    display: inline-block;
    color: #2d3436;
    text-decoration: none;
    transition: .3s;
}

nav ul li a:hover {
    color: #fff;
    background: #2d3436;
    transition: .3s;
    text-decoration: underline;
}

nav ul li a.active {
    color: #fff;
    background: #2d3436;
}

.content .content-header {
    background: url('../img/header-bg.jpg') fixed center center;
    background-size: cover;
    width: 100vw;
    height: 500px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 22px;
    -webkit-text-stroke: #000;
}

.content .content-body {
    width: 60vw;
    margin: auto;
    padding-top: 30px;
}

.content .content-body0 {
    width: 60vw;
    margin: auto;
    padding-top: 15%;
}

.card {
    background: rgb(255, 255, 255);
    margin: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px #b2bec3;
    padding: 10px 20px;
}

.card0 {
    background: rgb(255, 255, 255);
    margin: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px #b2bec3;
    padding: 10px 20px;
    float: left;
    width: 60vw;
}

.card-header h2 {
    font-size: 26px;
    margin-bottom: 10px;
}

.card-header h3 {
    margin-bottom: 10px;
    font-weight: 300;
    font-style: italic;
}

.card-body img {
    width: 100%;
    height: 150px;
    background-size: cover;
}

.card-body-p1 {
    margin-bottom: 15px;
    text-align: justify;
}

.card-body-p2 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.card-body-list {
    
    margin-left: 20px;
}

.card-acceuil{
    text-decoration: underline;
}

.card-footer {
    text-align: right;
}

.card-footer a {
    margin: 20px 0 10px 0;
    display: inline-block;
    padding: 10px 20px;
    background: #48dbfb;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.card-footer a:hover {
    background: #0abde3;
    transition: .3s;
}

.card-img-1 {
    background: url('../img/card-1.PNG') center;
    background-size: cover;
    width: 130px;
    height: 200px;
    float: left;
    margin: 0 15px 0 0;
    border-radius: 5%;
}

.card-img-2 {
    background: url('../img/card-2.jpg') center;
    background-size: cover;
}

.card-img-3 {
    background: url('../img/card-3.jpg') center;
    background-size: cover;
}

.card-img-mail{
    background: url('../img/mail.png') center;
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px 5px 0 0;
}

.card-img-tel{
    background: url('../img/tel.png') center;
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px 5px 0 0;
}

.card-img-linkedin{
    background: url('../img/linkedin.png') center;
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px 5px 0 0;
}

.card-img-discord{
    background: url('../img/discord.png') center;
    background-size: cover;
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px 5px 0 0;
}

.card-img-html{
    background: url('../img/html.png') center;
    background-size: cover;
    float: left;
    width: 160px;
    height: 160px;
    margin: 7px 0 0 0;
}

.card-img-css{
    background: url('../img/css.png') center;
    background-size: cover;
    width: 115px;
    height: 160px;
    float: left;
    margin: 7px 0 0 112px;
}

.card-img-js{
    background: url('../img/js.png') center;
    background-size: cover;
    width: 180px;
    height: 180px;
    float: left;
    margin: 0 5px 0 112px;
}

.card-img-php{
    background: url('../img/php.png') center;
    background-size: cover;
    width: 250px;
    height: 140px;
    float: left;
    margin: 25px 0 0 112px;
}

.card-img-note3{
    background: url('../img/note3.png') center;
    background-size: cover;
    width: 100px;
    height: 100px;
    position: relative;
    
}

.card-img-note2{
    background: url('../img/note2.png') center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.card-img-note1{
    background: url('../img/note1.png') center;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.card-img-crashtest{
    background: url('../img/crashtest.jpg') center;
    background-size: cover;
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4%;
}

.card-img-site1{
    background: url('../img/site1.png') center;
    background-size: cover;
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4%;
}

.card-img-site2{
    background: url('../img/site2.png') center;
    background-size: cover;
    width: 350px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4%;
}

.link {
    color: #686de0;
}

.btn-mode {
    background: #fff;
    border-radius: 50px;
    box-shadow: 0 10px 15px #b2bec3;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.btn-mode:hover {
    background: #2d3436;
    transition: .3s;
    cursor: pointer;
}

.btn-mode:hover i {
    color: #fff;
    transition: .3s;
}

.btn-mode i {
    font-size: 30px;
    color: #2d3436;
}

.loader {
    background: #FAFAFA;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #2d3436;
    border-color: #2d3436 transparent #2d3436 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}